body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1em;
	text-align: center;
	color: #444;
	background: #d0d0d0;
}

/* CENTER SKILL BARS */

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 2em;
	padding: 0;
}

/* WIDTH SKILL BARS */

section article {
	align-self: center;
	width: 30rem;
	margin-bottom: 2em;
}

/* BARS */
/* FONT-SIZE SKILL BARS */

.chart {
	font-size: 0.25em;
	perspective: 500px;
	perspective-origin: 50% 50%;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

.bar {
	font-size: 1em;
	position: relative;
	height: 10em;
	transition: all 0.3s ease-in-out;
	transform: rotateX(60deg) rotateY(0deg);
	transform-style: preserve-3d;
}

.bar .face {
	font-size: 2em;
	position: relative;
	width: 100%;
	height: 2em;
	background-color: #fefefe4d;
}

.bar .face.side-a, .bar .face.side-b, .bar .face.side-c {
  	width: 2em;
}

.bar .side-a {
  	transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
}

.bar .side-b {
	transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em) translateZ(-1em);
	position: absolute;
	right: 0;
}

.bar .side-c {
	transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em) translateZ(-1em);
	position: absolute;
	right: 0;
}

.bar .side-0 {
  	transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
}

.bar .side-1 {
  	transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
}

.bar .top {
  	transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
}

.bar .floor {
  	box-shadow: 0 0.1em 0.6em #0000004d, 0.6em -0.5em 3em #0000004d, 1em -1em 8em #fefefe;
}

/* COLOR BARS GLOBAL */

.bar .side-a, .growing-bar {
	background-color: #80808099;
	width: 100%;
	height: 2em;
}

/* COLOR BARS HTML */

.bar.html .side-a, .bar.html .growing-bar {
	background-color: #e4602799;
}

.bar.html .side-c {
	background-color: #e46027;
	right: 30%;
}

.bar.html .side-0 .growing-bar {
	box-shadow: -0.5em -1.5em 4em #e46027;
}

.bar.html .floor .growing-bar {
	box-shadow: 0em 0em 2em #e46027;
}

/* COLOR BARS CSS */

.bar.css .side-a, .bar.css .growing-bar {
	background-color: #38a9d599;
}

.bar.css .side-c {
	background-color: #38a9d5;
	right: 30%;
}

.bar.css .side-0 .growing-bar {
	box-shadow: -0.5em -1.5em 4em #38a9d5;
}

.bar.css .floor .growing-bar {
	box-shadow: 0em 0em 2em #38a9d5;
}

/* COLOR BARS JAVASCRIPT */

.bar.js .side-a , .bar.js .growing-bar {
	background-color: #ead41c99;
}

.bar.js .side-c {
	background-color: #ead41c;
	right: 60%;
}

.bar.js .side-0 .growing-bar {
	box-shadow: -0.5em -1.5em 4em #ead41c;
}

.bar.js .floor .growing-bar {
	box-shadow: 0em 0em 2em #ead41c;
}

/* COLOR BARS PHP */

.bar.php .side-a, .bar.php .growing-bar {
	background-color: #7276ac99;
}

.bar.php .side-c {
	background-color: #7276ac;
	right: 70%;
}

.bar.php .side-0 .growing-bar {
	box-shadow: -0.5em -1.5em 4em #7276ac;
}

.bar.php .floor .growing-bar {
	box-shadow: 0em 0em 2em #7276ac;
}

/* COLOR BARS MYSQL */

.bar.mysql .side-a {
	background-color: #006f8899;	
}

.bar.mysql .growing-bar {
	background: linear-gradient(90deg, #006f8899 20%, #e68a1099 40%);
}

.bar.mysql .side-c {
	background-color: #e68a10;
	right: 80%;
}

.bar.mysql .side-0 .growing-bar {
	box-shadow: -0.5em -1.5em 4em #7276ac;
}

.bar.mysql .floor .growing-bar {
	box-shadow: 0em 0em 2em #7276ac;
}

/* PERCENTAGE GLOBAL BARS */

.bar-10 .growing-bar {
	width: 10%;
    animation: Animate-10 4s;
}

.bar-20 .growing-bar {
	width: 20%;
    animation: Animate-20 4s;
}

.bar-30 .growing-bar {
	width: 30%;
    animation: Animate-30 4s;
}

.bar-40 .growing-bar {
	width: 40%;
    animation: Animate-40 4s;
}

.bar-50 .growing-bar {
	width: 50%;
    animation: Animate-50 4s;
}

.bar-60 .growing-bar {
	width: 60%;
    animation: Animate-60 4s;
}

.bar-70 .growing-bar {
	width: 70%;
    animation: Animate-70 4s;
}

.bar-80 .growing-bar {
	width: 80%;
    animation: Animate-80 4s;
}

.bar-90 .growing-bar {
	width: 90%;
    animation: Animate-90 4s;
}

.bar-100 .growing-bar {
	width: 100%;
    animation: Animate-100 4s;
}

/* PERCENTAGE RIGHT SQUARE */

.bar-10  .side-c {
	animation: Animate-side-10 4s;
}

.bar-20  .side-c {
	animation: Animate-side-20 4s;
}

.bar-30  .side-c {
	animation: Animate-side-30 4s;
}

.bar-40  .side-c {
	animation: Animate-side-40 4s;
}

.bar-50  .side-c {
	animation: Animate-side-50 4s;
}

.bar-60  .side-c {
	animation: Animate-side-60 4s;
}

.bar-70  .side-c {
	animation: Animate-side-70 4s;
}

.bar-80  .side-c {
	animation: Animate-side-80 4s;
}

.bar-90  .side-c {
	animation: Animate-side-90 4s;
}

.bar-100  .side-c {
	animation: Animate-side-100 4s;
}

/* ANIMATE BARS */

@keyframes Animate-10 {
    from {
        width: 10px;
    }
    to {
        width: 10%;
    }
}

@keyframes Animate-20 {
    from {
        width: 10px;
    }
    to {
        width: 20%;
    }
}

@keyframes Animate-30 {
    from {
        width: 10px;
    }
    to {
        width: 30%;
    }
}

@keyframes Animate-40 {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}

@keyframes Animate-50 {
    from {
        width: 10px;
    }
    to {
        width: 50%;
    }
}

@keyframes Animate-60 {
    from {
        width: 10px;
    }
    to {
        width: 60%;
    }
}

@keyframes Animate-70 {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}

@keyframes Animate-80 {
    from {
        width: 10px;
    }
    to {
        width: 80%;
    }
}

@keyframes Animate-90 {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}

@keyframes Animate-100 {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}

/* ANIMATE RIGHT SQUARE */

@keyframes Animate-side-10 {
    from {
        right: 98%;
    }
    to {
        right: 90%;
    }
}

@keyframes Animate-side-20 {
    from {
        right: 98%;
    }
    to {
        right: 80%;
    }
}

@keyframes Animate-side-30 {
    from {
        right: 98%;
    }
    to {
        right: 70%;
    }
}

@keyframes Animate-side-40 {
    from {
        right: 98%;
    }
    to {
        right: 60%;
    }
}

@keyframes Animate-side-50 {
    from {
        right: 98%;
    }
    to {
        right: 50%;
    }
}

@keyframes Animate-side-60 {
    from {
        right: 98%;
    }
    to {
        right: 40%;
    }
}

@keyframes Animate-side-70 {
    from {
        right: 98%;
    }
    to {
        right: 30%;
    }
}

@keyframes Animate-side-80 {
    from {
        right: 98%;
    }
    to {
        right: 20%;
    }
}

@keyframes Animate-side-90 {
    from {
        right: 98%;
    }
    to {
        right: 10%;
    }
}

@keyframes Animate-side-100 {
    from {
        right: 98%;
    }
    to {
        right: 0%;
    }
}
